body {
    background-color: #f7cd75;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px 40px;
}

.app {
    max-width: 800px;
    background-color: #fff;
    margin: 0 auto;
    display: flex;

    max-height: 450px;
}

.wallets {
    width: 300px;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.wallets__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.wallets__title {
    color: #333333;
}

.plus {
    background-image: url("/img/plus.svg");
    height: 24px;
    width: 24px;
    cursor: pointer;
}

/* CARD */

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 115px;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 5px;
    margin-bottom: 25px;
}

.card:hover {
    border: 1px solid #8793c6;
}

.card__container {
    padding: 15px 10px;
}

.card__logo {
    display: flex;
    align-items: start;
    margin-bottom: 10px;
}

.card__serialnumber {
    color: #727272;
    margin-bottom: 5px;
    font-size: 15px;
}

.card__date {
    color: #727272;
    font-size: 12px;
}